<div class="card">
    <div class="card-header center">
        <span (click)="closeAcountModal()" class="float-right spn-btn"><i class="far fa-times-circle"></i></span>
        Reset Password
    </div>
    <div class="card-body p-4">
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userEmail" placeholder="e.g. jhon@gmail.com" />
            </div>
            <div>
                <span (click)="openLogin()" class="float-left spn-btn mt-2">Go to Login</span>
                <span (click)="openLogin()" class="float-right spn-btn mt-2">Reset Password &rarr;</span>
            </div>
        </form>
    </div>
</div>
